<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<title>Dashboard, Free HTML5 Admin Template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width"/>
<link rel="stylesheet" href="css/templatemo_main.css"/>
<style type="text/css">
td {
	padding: 10px;
}
</style>

</head>
<body>
	<div class="navbar navbar-inverse" role="navigation">
		<div class="navbar-header">
			<div class="logo">
				<h1>Dashboard - Admin Template</h1>
			</div>
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
		</div>
	</div>
	<div class="template-page-wrapper">
		<div class="navbar-collapse collapse templatemo-sidebar">
			<ul class="templatemo-sidebar-menu">

				<li><a href="index"><i class="fa fa-home"></i>首页</a></li>
				<li><a href="data"><i class="fa fa-database"></i>数据</a></li>
				<li class="active"><a href="project"><i
						class="fa fa-cubes"></i>项目</a></li>
				<li><a href="user"><i class="fa fa-users"></i>用户</a></li>
				<li><a href="#"><i class="fa fa-cog"></i>设置</a></li>
				<li><a href="#"><i class="fa fa-sign-out"></i>登出</a></li>
			</ul>
		</div>
		<!--/.navbar-collapse -->

		<div class="templatemo-content-wrapper">
			<div class="templatemo-content">
				<ol class="breadcrumb">
					<li>Admin Panel</li>
					<li>项目</li>
				</ol>


				<div class="row" th:each="project:${listAllProject}">
					<div class="col-md-12">
						<h4>已经存在的项目：</h4>
					</div>
					<div class="col-md-3 col-md-offset-1">
						<table th:each="project:${listAllProject}">
							<tr>
								<td><input type="text" disabled="disabled"
									class="form-control"  th:value="${project.projectName}"/></td>
							</tr>
						</table>
					</div>
					<div class="col-md-3 col-md-offset-1">
						<table th:each="project:${listAllProject}">
							<tr>
								<td><input type="text" disabled="disabled"
									class="form-control"  th:value="${project.projectName}" /></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h4>添加新项目：</h4>
					</div>
					<div class="col-md-11 col-md-offset-1">
						<form action="" method="post" role="form">
							<table >
								<tr>
									<td><select class="form-control">
											<option value="0">请选择用户</option>
									</select></td>
								</tr>
								<tr>
									<td><input type="text" class="form-control" id="name"
										placeholder="请输入项目"/></td>
								</tr>


								<tr>
									<td><button type="submit" class="btn btn-success">添加</button></td>
								</tr>
							</table>
						</form>
					</div>
				</div>





			</div>
		</div>

		<footer class="templatemo-footer">
			<div class="templatemo-copyright">
				<p>Copyright &copy; 2084 Your Company Name</p>
			</div>
		</footer>
	</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/templatemo_script.js"></script>

</body>
</html>